## LISTS

In [47]:
games = ["cricket","hockey","badminton","volleyball","kabaddi"]

In [48]:
games.pop()
games

['cricket', 'hockey', 'badminton', 'volleyball']

In [49]:
games.append("kabaddi")
games

['cricket', 'hockey', 'badminton', 'volleyball', 'kabaddi']

In [50]:
games.sort()
games

['badminton', 'cricket', 'hockey', 'kabaddi', 'volleyball']

In [51]:
games.sort(reverse = True)
games

['volleyball', 'kabaddi', 'hockey', 'cricket', 'badminton']

In [52]:
games.insert(2, "Chess")
games

['volleyball', 'kabaddi', 'Chess', 'hockey', 'cricket', 'badminton']

In [53]:
games.index("hockey")

3

## Dictionary

In [54]:
players = {"cricket": 11, "badminton": 2, "chess": 2, }

In [57]:
players.items()

dict_items([('cricket', 11), ('badminton', 2), ('chess', 2)])

In [58]:
players.keys()

dict_keys(['cricket', 'badminton', 'chess'])

In [60]:
players.values()

dict_values([11, 2, 2])

In [62]:
players.pop("cricket")

11

In [65]:
players.clear()

In [66]:
players

{}

## Sets

In [70]:
set1 = {1,2,3,4,4,5,5,5,6}
set2 = {4,5,6,7,8,9}

In [71]:
set1.add(7)
set1

{1, 2, 3, 4, 5, 6, 7}

In [72]:
set1.isdisjoint(set2)

False

In [73]:
set1.difference(set2)

{1, 2, 3}

In [74]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [75]:
set1.intersection(set2)

{4, 5, 6, 7}

In [76]:
set1.clear()

In [77]:
set1

set()

## Tuple

In [80]:
tup = (1,2,2,2,2,3,4,4,3,4,5,6,7)

In [81]:
tup.count(2)

4

In [82]:
tup.index(3)

5

In [83]:
#TUPLE IS IMMUTABLE SO WE CANNOT HAVE MORE DEFAULT FUCTIONS IN IT

## Strings

In [84]:
sent = "Hello world! This is the first python program"

In [85]:
sent.upper()

'HELLO WORLD! THIS IS THE FIRST PYTHON PROGRAM'

In [86]:
sent.lower()

'hello world! this is the first python program'

In [87]:
sent.split()

['Hello', 'world!', 'This', 'is', 'the', 'first', 'python', 'program']

In [93]:
sent.replace("r", "w")

'Hello wowld! This is the fiwst python pwogwam'

In [96]:
sent.isdigit()

False

In [98]:
sent.isascii()

True